<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<DeleteExistingFiles>True</DeleteExistingFiles>
		<ExcludeApp_Data>False</ExcludeApp_Data>
		<LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<PublishProvider>FileSystem</PublishProvider>
		<PublishUrl>public\</PublishUrl>
		<WebPublishMethod>FileSystem</WebPublishMethod>
		<SiteUrlToLaunchAfterPublish />
		<TargetFramework>net5.0</TargetFramework>
		<ProjectGuid>f93efcc9-d67c-4181-9604-7e0042069f0e</ProjectGuid>
		<SelfContained>false</SelfContained>
	</PropertyGroup>
	<ItemGroup>
		<Content Update="appsettings.*.json" CopyToPublishDirectory="Never" />
	</ItemGroup>
</Project>